@model RSMVC.Models.Item

        <style >
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .title {
            color: grey;
            font-size: 18px;
        }

        button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

        a {
            text-decoration: none;
            font-size: 22px;
            color: black;
        }

            button:hover, a:hover {
                opacity: 0.7;
            }
    </style>

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@{string availability = "Rented";
    StringComparer comparer = StringComparer.OrdinalIgnoreCase;

}



@if (Model != null)
{
<div class="w3-col">
    <div class="w3-col w3-jumbo w3-center w3-margin-top w3-padding-top">
        <h1 class="w3-monospace"><b> @Model.Name</b></h1>
    </div>
    <div class="w3-col w3-margin-top">

        <div class="w3-twothird w3-left">
            <img src="/lib/hpomen.png" width="100%" height="auto" alt="@Model.Brand">


        </div>
        <div class="w3-rest w3-right">
            <p class=" w3-margin-top "> @Model.Price / day  </p>
            <p class="w3-section w3-grey">&emsp;  @Model.Availability</p>

        </div>
    </div>
    <div class="w3-row">
        <div class="w3-col w3-margin-top" style="width:190px">

            <ul class="w3-ul">
                <li><b>Brand:</b></li>
                <li><b>Purchased Date:</b> </li>
                <li><b>Condition:</b></li>
                <li><b>Category:</b> </li>
                <li><b>Description:</b></li>
            </ul>
            <h1 class="w3-hide-large w3-hide-medium" margin="25px"> </h1>

        </div>
        <div class="w3-rest w3-margin-top">

            <ul class="w3-ul">
                <li> @Model.Brand</li>
                <li>@Model.BoughtDate.Year</li>
                <li>@Model.ItemCondition</li>
                <li>@Html.Partial("DisplayTemplates/CategoryModel", Model.Category)</li>
                <li>@Model.Description</li>
            </ul>
            <h1 class="w3-hide-large w3-hide-medium" margin="25px"> </h1>

        </div>
    </div>
    @if (String.Equals(@Model.Availability.ToString(), availability))
    {
        

        <p><a class="w3-button w3-disabled w3-black w3-margin-top w3-right w3-margin-left w3-left w3-large"> RENTED</a></p> }
    else
    {
     
        <p><a asp-controller="Item" asp-action="GoForRent" asp-route-id="@Model.Id" class="w3-button w3-black w3-margin-top w3-margin-left w3-left w3-right w3-large">RENT NOW</a></p>
    }

</div>


    
}